.container {
  display: flex;
  flex-direction: row;

  .sidebar {
    flex: 1; // Adjust as needed
    // Styles for sidebar
  }

  .main_content {
    flex: 3; // Adjust as needed
    margin-top: -35px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .search_bar {
      margin-top: -50px;
      margin-bottom: 50px;
    }

    .product-list {
      width: 100%; // Ensure full width
      // Styles for product list
    }
  }
}
